@model PWApplication.Models.User
@{
    ViewData["Title"] = "Home Page";
}


@if (Model != null)
{
    <p>@Model.UserName</p>
    <p>PW balance: @Model.Balance</p>

    <div class="form-group">
        <a class="btn btn-primary" asp-controller="Transaction" asp-action="CreateTransaction">Create transaction</a>
    </div>
    <table class="table">
        <tr>
            <th>
                Date
            </th>
            <th>
                Correspondent name
            </th>
            <th>
                Amount
            </th>
            <th>
                Balance
            </th>
            <th></th>
        </tr>
        @foreach (var transaction in Model.Transactions.OrderByDescending(x => x.Date))
        {
    <tr>
        <td>@transaction.Date</td>
        <td>@transaction.Correspondent.UserName</td>
        <td>@transaction.Amount</td>
        <td>@transaction.UserBalance</td>
        <td>
            @if (transaction.Type == TransactionType.Debit)
            {
                <a asp-action="CreateTransaction" asp-controller="Transaction" asp-route-id="@transaction.Id">Repeat</a>
            }
        </td>
    </tr>
        }
        </table>

        <form method="post" asp-controller="Account" asp-action="Logout">
            <div>
                <input class="btn btn-primary" type="submit" value="Выход" />
            </div>
        </form>
        }
        else
        {
        <a asp-controller="Account" asp-action="Login">Вход</a>
        <a asp-controller="Account" asp-action="Register">Регистрация</a>
        }
