<div class="container">
	<PWHeader>@HomeState.Value.Name</PWHeader>
	<PWHeader>PW balance: @HomeState.Value.Balance</PWHeader>
	<div class="form-group mb-3">
		<PWCreateTransaction Users="@HomeState.Value.Users" CreateModel="@HomeState.Value.CreateTransactionModel" Errors="@HomeState.Value.CreationErrors.Select(x => x.Description)" OnSubmitCallback="CreateTransactionSubmit"></PWCreateTransaction>
	</div>
	<div class="mb-3">
		@if (@HomeState.Value.FilterModel != null)
		{
			<PWFilter FilterModel="@HomeState.Value.FilterModel" OnClickCallback="@(() => FetchTransactions(HomeState.Value.CurrentSort))"></PWFilter>
		}
	</div>
	<table class="table">
		<thead>
			<tr>
				<th>
					<span class="@(GetSortStyle(ColumnType.Date))"></span>
					<span class="sort-link" @onclick="@(() => FetchTransactions(HomeState.Value.CurrentSort == SortState.DateAsc ? SortState.DateDesc : SortState.DateAsc))">Date</span>
				</th>
				<th>
					<span class="@(GetSortStyle(ColumnType.CorrespondentName))"></span>
					<span class="sort-link" @onclick="@(() => FetchTransactions(HomeState.Value.CurrentSort == SortState.CorrespondentNameAsc ? SortState.CorrespondentNameDesc : SortState.CorrespondentNameAsc))">Correspondent name</span>
				</th>
				<th>
					<span class="@(GetSortStyle(ColumnType.Amount))"></span>
					<span class="sort-link" @onclick="@(() => FetchTransactions(HomeState.Value.CurrentSort == SortState.AmountAsc ? SortState.AmountDesc : SortState.AmountAsc))">Amount</span>
				</th>
				<th>Balance</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@if (@HomeState.Value.Transactions != null)
			{
				@foreach (var transaction in @HomeState.Value.Transactions)
				{
					<tr>
						<td>@transaction.Date</td>
						<td>@transaction.Correspondent.UserName</td>
						<td>@transaction.Amount</td>
						<td>@transaction.UserBalance</td>
						<td>
							@if (transaction.Type == PWApplication.Domain.Models.TransactionType.Debit)
							{
								<PWButton Title="Repeat" OnClickCallback="@(() => RepeatTransaction(@transaction.Id))" />
							}
						</td>
					</tr>
				}
			}
		</tbody>
	</table>
	<PWButton Title="Logout" OnClickCallback="Logout" />
</div>
