<div class="container">
    <PWHeader>Please signed in.</PWHeader>
    @if(_loginVisible)
    {
        <PWLogin OnCancelClickCallback="@CancelLogin" OnSubmitCallback="@LoginSubmit" Errors="@StartState.Value.Errors.Select(x => x.Description).ToList()" LoginModel="_loginModel"></PWLogin>
    }
    else if(_registrationVisible)
    {
        <PWRegister OnCancelClickCallback="@CancelRegistration" OnSubmitCallback="@RegisterSubmit" Errors="@StartState.Value.Errors.Select(x => x.Description).ToList()" RegisterModel="_registerModel"></PWRegister>
    }
    else
    {
        <PWButton Title="Login" OnClickCallback="Login" />
        <PWButton Title="Registration" OnClickCallback="Registration" />
    }
</div>
